/* *{
    margin: 0;
    padding: 0;
} */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:2px 2px 10px rgba(0,0,0.15) ;
    padding: 1vw 8vw;   
    width: 85%;
    border-radius: 7px;
    background-color: rgb(255, 43, 43);
  }
  nav .navigation ul{
    display: flex;
    justify-content: flex-end ;
    align-items: center;
  }
    .navigation ul li{
    list-style: none;
    margin: 10px;
    padding: 7px;
  }
  nav .navigation ul li a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
  }

/*
  .navigation ul li a:hover{
    background-color: transparent;
    box-shadow: 0 0 12px 0.7;
} 
*/

  nav .LOGO i{
    color: #ffffff;
  }

  .pre-hm a.hme {
    color: #fff;
    /* background-color: red; */
  }

  .navigation ul li:hover {
    background-color: transparent;
    box-shadow: 
    0 0 80px white,
    0 0 20px white,
    0 0 10px white;
/*    position: block;*/
    border-radius: 5px ;
    padding: 7px;
      box-sizing: border-box;
  }
  
  
  body{
    width: 100%;
    height: 100%; 
     background: linear-gradient(rgb(241, 235, 235));
    font-family: sans-serif; 
} 
.main{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.login-box{
    width: 400px;
    padding: 40px;
/*    background:rgba(235, 14, 14, 0.5);*/
    border-radius: 10px;
    background: rgb(255, 43, 43);
    box-shadow: 0 0 5px rgba(97, 16, 16, 0.5),0 0 25px rgba(97, 16, 16, 0.5),0 0 50px rgba(97, 16, 16, 0.5),0 0 100px rgb(255, 0, 0);
}
.login-box h2{
    margin:  0 0 30px;
    padding: 0;
    color: #fff;
    /* margin-bottom: 30px;  */
    text-align: center;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom:  30px;
    border:none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding:10px 0 ;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top:-20px;
    left:0;
    color: #fff;
    font-size: 12px;
}
/* .login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box input:not(:placeholder-shown) ~ label {
    top: -20px; /* Adjust this value to the desired fixed position */
    /* left: 0px; Adjust this value to the desired fixed position */
    /* color: #fff; */
    /* font-size: 12px; */
/* } */ 
/* .login-box .user-box label {
    top: -20px;
    left: 0;
    color: #fff;
    /* font-size: 12px; */
/* } */ 

.check{
    font-size: 16px;
    color: #fff;
    user-select: none;
}
.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 26px ;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.login-box a:hover{
background:white;
color: red;
border-radius: 5px;
box-shadow: 0 0 5px rgb(201, 196, 196),0 0 25px rgb(201, 196, 196),0 0 50px rgb(201, 196, 196),0 0 100px rgb(201, 196, 196);
}
.login-box a span{
    position: absolute;
    display:block;
}
.login-box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,white);
    animation: btn1 .75s linear infinite;
    animation-delay: .25s;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    background-color: rgb(255, 43, 43);
    color: white;
    padding: 20px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 220px;
    width: 320px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.close:hover{
    background-color: transparent;
    box-shadow: 0 0 12px white;
}

/* Style for the form and its elements */
#forgot-password-form {
    text-align: center;
    color: yellow;
    width: 500px;
}

#user-email {
    width: 95%;
    padding: 10px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    margin-top: 8px;
}

#login{
    margin-right: 120px;
}
button[type="submit"] {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button[type="submit"]:hover{
  background-color: #007bff;
  box-shadow: 0 0 12px white;
}

@keyframes btn1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%; 
    }
}
.login-box a span:nth-child(2){
    top:-100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg,transparent,white);
    animation: btn2 .75s linear infinite;
    animation-delay: .25s;
}

@keyframes btn2 {
    0% {
        top:-100%
    }
    50%,100%{
        top: 100%;
    }
    
}
.login-box a span:nth-child(3){
    bottom: 0; 
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,white);
    animation: btn3 .75s linear infinite;
    animation-delay: .5s;
}

@keyframes btn3 {
    0% {
        right:-100%
    }
    50%,100%{
        right: 100%;
    }
    
}
.login-box a span:last-child{
    left:0;
    bottom: -100%;
    height: 100%;
    width: 2px;
    background: linear-gradient(90deg,transparent,white);
    animation: btn4 .75s linear infinite;
    animation-delay: .25s;
}

@keyframes btn4 {
    0% {
        bottom:-100%
    }
    50%,100%{
        bottom: 100%;
    }
    
}
