nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow:2px 2px 10px rgba(0,0,0.15) ;
  padding: 1vw 8vw;
  position: fixed;
  width: 85%;
  background-color:rgb(255, 43, 43);
  z-index: 100;
}

nav .navigation{
  display: flex;
}

#menu-btn{  
  width: 30px;
  height: 30px;
  margin-top: 22px;
  display: none;
}
#menu-close{
  display: none;
}

nav .navigation ul{
  display: flex;
  justify-content: flex-end ;
  align-items: center;
}
nav .navigation ul li{
  list-style: none;
  margin: 10px;
}
nav .navigation ul li a{
  text-decoration:none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}
nav .navigation ul li a:hover{
  color: #ffffff;
} 
div.LOGO{
  color: #ffffff;
}
#pre-hm .LOGO i{
  display: fixed;
  /* flex-direction: column; */
  color: #ffffff;
  /* position: absolute; */
  letter-spacing: 10px;
}
/* *{
  margin: 0%;
  padding: 0%;
} */


.datename {
  font-size:20px;
}

.col-4.dateblock{
  padding-left: 230px;
  margin-right: 30px;
}
.dateinput{
  height: 40px;
  font-size: 20px;
}

.col-2.datevalue{
  padding-left: 20px;
}
.bookslot{


width: 150px;
padding: 10px; 
cursor: pointer;

margin-left: 370px;
margin-top: 40px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

 

/* Style the heading */

h1 {

  font-size: 24px;

  margin-bottom: 20px;

}

 

/* Style the slots container */

.slots {

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

}

 

/* Style the slot button */

.slot-button {

  background-color: #3498db;

  color: #fff;

  border: none;

  padding: 10px 20px;

  margin: 5px;

  cursor: pointer;

  transition: background-color 0.3s;

}

 

/* Style for available slots */

.slot-button.available {

  background-color: #2ecc71;

}

 

/* Style for occupied slots */

.slot-button.occupied {

  background-color: #e74c3c;

}

 

/* Style for selected slots */

.slot-button.selected {

  background-color: #f39c12;

  cursor: not-allowed;

}

 

/* Disable the button appearance for selected slots */

.slot-button.selected:disabled {

  opacity: 0.7;

  cursor: not-allowed;

}
  .submitbutton{
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 11px;
    padding-bottom: 9px;
    margin-left: 10px;
  }

  
input.submitbutton{
  padding: 10px;
  margin-left: 10px;
  width: 150px;
  
  
}



.row{
  padding-top: 70px;
}

.col-12{
  padding-left: 50%;
}
.slotdata{
  text-align: center;
  padding-left: 20%;
  
}

/* .col-12{
  padding-left: 20%;
} */
.row.slotsize{
  padding-left: 10%;
}
.slotsize1{
  padding-left: 0px;
  width: 100%;
}
.row.col-12{
  padding-left: 30%;
}

/* .row.row-1.col-2.slotsize1{
  
} */

.row.slotsize{
  display: none;
}  




.required{
  padding-top: 10px
}
.required li{
  display: inline-flex;
  padding-right: 10px;
}

/* space for  */
.space{
  width: 1px;
  padding: 10px;
  border: 2px solid black;
  padding-top: 10px;
  background-color: #888;
  border-radius: 6px;
  display: inline-block;
}
/* .space.na{ */
  /* background-color: yellow;
}
.slot.na{
  width: 1px;
  padding: 10px;
  border: 2px solid black;
  padding-top: 10px;
  background-color: #fff; 
  padding-right: 50px;
} */
.space.occupied{   /*if the seat is occupied then colour changes to red*/
  width: 1px;
  padding: 10px;
  border: 2px solid black;
  padding-top: 10px;
  background-color: red;
  
}
.space.selected{
  width: 1px;
  padding: 10px;
  border: 2px solid black;
  padding-top: 10px;
  background-color: green; 

}

   /* CSS for styling the seats */
.slotsize1 {
      width: 50px;
      height: 50px;
      background-color: #888; /* Default background color for seats */
      border: 1px solid #ccc;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
}

/*  
.slotsize1.blocked {
  background-color: red; /* Background color for blocked seats 
  color: #666; /* Text color for blocked seats 
  cursor: not-allowed;
  font-weight:bold;
} */
/* Styling for selected seats */


.slot{
  padding-left: 100px;
}
/* footer css style */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 300px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact-details, .social-icons {
  flex: 1;
  padding: 10px;
}

.contact-details h3, .social-icons h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.contact-details p {
  margin: 0;
}
.social-icons ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-icons li {

  margin: 0 10px;

}

/* Default styles for larger screens */
.container-fluid {
  max-width: 1200px; /* Set a maximum width for content */
  margin: 0 auto; /* Center content horizontally */
}

/* Default styles for larger screens */
.row {
  display: flex;
  align-items: center;
}

.col-3, .col-2, .col-1 {
  flex: 1;
  min-width: 0;
  text-align: center;
}


/* Responsive styles for smaller screens */

@media(max-width:769px){
  nav{
    padding: 15px 20px;
  }
  /* nav img{
    width: 130px;
    cursor: pointer;
  } */
  #menu-btn{
    /* width: 30px;
    height: 30px;
    margin-top: 22px; */
    display: initial;
  }
  #menu-close{
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0 20px 20px;
  }
  
  nav .navigation ul{
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  background: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  }
  nav .navigation ul li{
    padding: 20px 0 20px 40px;
    margin-left: 0;
  } 
  nav .navigation ul li a{
    color:#ffffff ; 
  }


.col-4.dateblock{
    padding: 1px;
}
.dateinput{
    border: 2px solid black;
    margin-bottom: 7px;
}
.col-3, .col-2, .col-1 {
    flex-basis: auto; /* Allow columns to expand to their content width */
    margin-bottom: 10px; /* Add spacing between columns */
}

.search button {
    width: 100%; /* Make the button full width on smaller screens */
    height: auto; /* Adjust button height based on content */
    padding: 5px; /* Add padding to the button */
}


/* pre {
   */
/* font-size: 0.9rem};  */

/* ############################ New css ############################# */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* 
Fading animation 
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

 On smaller screens, decrease text size 
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} */}